:root {
    --paginationBackground: #db8795;
    --paginationSecond: #DEBBDE;
    --title: #3D4827;
    --cardBackground: #411F98;
    --modalBackground: #BB4D4D;
    --modalSecond: #F7FF66;
    --skill: #1B4041;
}